# HistoryJanus baseline begin
*.bak
*.buildwithskipanalyzers
*.cache
*.dwl
*.dwl2
*.elk
*.eod
*.eox
*.flk
*.idb
*.ilk
*.lck
*.log
*.lref
*.obj
*.pdb
*.slk
*.suo
*.tlog
*.tmp
*.up2date
*.user
*.vsidx
*.xlk
# HistoryJanus baseline end

# HistoryJanus managed begin
*.bak
*.cache
*.elk
*.eod
*.eox
*.flk
*.lck
*.log
*.obj
*.pdb
*.slk
*.tmp
*.xlk
b-Unity-Teach1/Library/
# HistoryJanus managed end